.header-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  opacity: 0.9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header-head {
  color: #fff;
  font-family: none;
  position: absolute;
  z-index: 999;
  padding: 20px;
  width: 97%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid #fff;
}
.block-section {
  display: flex;
  box-shadow: 2px;
  background: rgb(229, 236, 236);
  justify-content: space-evenly;
}

.lower-head {
  color: black;
}
.block-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*border: 1px solid;*/
}
.block-div {
  width: 95%;
  max-height: 280px;
  box-shadow: 2px;
  margin: 20px;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 5px;
  padding: 0px;
}
.block-image {
  width: 100%;
  max-height: 200px;
  border-radius: 5px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.block-text {
  margin-bottom: 12px;
  text-align: -webkit-center;
}

.carosuel-slider {
  margin-top: 50px;
  width: 100%;
  height: 300px;
}
.a-head {
  color: #fff;
  font-size: 13pt;
}
.head-h1 {
  text-align: left;
  padding-left: 30px;
}
.header-left {
  text-align: right;
  width: 50%;
}
.header-right {
  margin: 35px;
  text-align: right;
  width: 50%;
}
