body {
  font-family: "Brush Script MT", cursive;
  font-weight: 600;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiV3m51tE4-cMnV2FHHHZ--GzZyNEdpl73Ig&usqp=CAU");
  background-repeat: no-repeat;
  background-origin: initial;
  background-size: cover;
  object-fit: cover;
  color: #fff;
}

.App {
  text-align: center;
  background-image: url("https://image.shutterstock.com/z/stock-photo-creative-layout-made-of-colorful-tropical-leaves-on-white-background-minimal-summer-exotic-concept-1074927038.jpg");
  background-repeat: no-repeat;
  background-origin: initial;
  background-size: cover;
  object-fit: cover;
  padding: 0px 0px 0px 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bg-dark {
  background-color: #34461e !important;
}
.navbar,
.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.responsive-navbar-nav {
}
.navbar {
  position: relative;
  padding: 0.5rem 1rem;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
